.display {
  width: 24rem;
  height: 5.2rem;
  text-align: right;
  pointer-events: none;
  color: #111827;
  font-style: normal;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.4rem;
  background-color: #f3f4f6;
  border-radius: 6px;
  padding: 4px 8px;
  overflow: hidden;
}

.display--font-sm {
  line-height: 2.2rem;
  font-size: 1.9rem;
  display: flex;
  align-items: end;
  justify-content: end;
}
